@import "./variables";
.cabecera{
    overflow: hidden;
    background:$crema ;
    &__img{
    display: block;   
    margin: auto;
    width: 40vh;
    -webkit-animation: bounce-top 0.9s both;
    animation: bounce-top 0.9s both;}
    @-webkit-keyframes bounce-top {
    0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;}
    24% {
    opacity: 1;}
    40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;}
    65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;}
    82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;}
    93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;}
    25%,
    55%,
    75%,
    87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;}
    100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;}}
    @keyframes bounce-top {
    0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;}
    24% {
    opacity: 1;}
    40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;}
    65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;}
    82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;}
    93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;}
    25%,
    55%,
    75%,
    87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;}
    100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;}}
    &__h1{  
    text-align: center;
    color: rgb(255, 253, 253);
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background:$rojoFranbur ;
    }
    &__h1:hover{
        font-size: 28px;
    }
    &__h1::before {
        content: "~ ~ ";
    }
    &__h1::after {
      content: " ~ ~";
    }
    &__h3{
        text-align: map-get($estilos , centro );
        color: map-get($estilos , claro );
        font-size: map-get($estilos , tamFuente );
        font-family:Arial, Helvetica, sans-serif;
        background:$rojoFranbur ;
        margin:  map-get($estilos , margen );
        padding: map-get($estilos , pared );
    }
    &__h3:hover{
      font-size: 28px;
      }
      &__h3::after {
        content:" !!";
      }
       }
       .text-focus-in {
        -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        }
        @-webkit-keyframes text-focus-in {
        0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
        }
        100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
        }}
        @keyframes text-focus-in {
        0% {
        -webkit-filter: blur(12px);
                filter: blur(12px);
        opacity: 0;
        }
        100% {
        -webkit-filter: blur(0px);
                filter: blur(0px);
        opacity: 1;
        }}
        @media screen and (max-width:320px)  
  {
    .cabecera__h1{
      font-size:15px ;
      padding:7px ;
      margin: 0 0 10px 0;
  
    }
    
      .cabecera__h3{
        font-size:15px ;
        padding:7px ;
        margin: 0 0 10px 0;
    
      }
  
  }
  @media screen and (max-width:425px)  
  {
    .cabecera__h1{
      font-size:15px ;
      padding:7px ;
      margin: 0 0 10px 0;
  
    }
    
      .cabecera__h3{
        font-size:15px ;
        padding:7px ;
        margin: 0 0 10px 0;
    
      }
  
  }
  