.slide{
    margin-top: 5px;
    
  
    & img{
      width: 100vh;
      height: 60vh;
      
    }
  }
  @media screen and (max-width:768px)  
  {
    .slide img{
      width: 100vh;
      height:40vh ;
  
    }
  
  }
  
  @media screen and (max-width:425px)  
  {
    .slide img{
      width: 100vh;
      height:20vh ;
  
    }
  
  }