@import "./variables";
.parallax{
    width: 100%;
    height:10vh;
    background: url(../assets/bordo1.jpeg);
    background-size: 100% 200%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow:hidden;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    & a{
      display:block;
      
      padding: 10px;
      width: 150px;
      text-align: center;
      text-decoration: none;
      background:#000 ;
      color: #fff;
      margin:20px auto 20px auto;
    }
    & a:hover{
      background:rgb(131, 0, 0) ;
    }
  }
  a.parahov:hover{
    font-size: 20px;
  }